/* Menubar */

.padding {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.nav-color {
    background-color: #69C5B8 !important;
}
.test-box {
    height: 2000px;
    background-color: red;
}
.font-menu {
    color: white !important;
    font-weight: bold;
}
 
.head{
    text-decoration: underline;
  }
.colorform{
    color: rgb(116, 116, 116) !important;
}
  #form1 {
    border-radius: 50px; 
  }
  #form2{
  
    border-radius: 50px;
  }
  #form3{
  
    border-radius: 50px;
  }
  #form4{
  
    border-radius: 50px;
  }
  #form5{
  
    border-radius: 50px;
  }
  #form6{
  
    border-radius: 50px;
  }
  #form7{
    width: 80px;
    border-radius: 50px;
  }
  #form8{
    width: 80px;
    border-radius: 50px;
  }
  #form9{
    width: 80px;
    border-radius: 50px;
  }
  #fexampleFormControlTextarea1{
    border-radius: 20px;
  }
  
  .button{
    text-align: center;
    color: rgb(116, 116, 116) !important;
  }

  
  .btn-custom  {
    font-style: bold;
    align-content: center;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    transition: .5s;
    background-color: white;
    border: 5px solid #aaaaaa;
  }
  .btn-custom:hover{
    border-color: rgb(116, 116, 116)
  }
  .header{
    height: 100%;
  }
  .bgh{
    background-color: #EECC6B;
  }
  .bgtim{
    background-color:  #EECC6B;
    margin-top: 50px;
    margin-bottom:30px;
  }
  .bgtim1{
    background-color:  #EECC6B;
    margin-top: 30px;
    margin-bottom:100px;
  }
  .bgt{
    background-color: red;
  }
  h{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .bgnav{
    background-color:  #69C5B8;
    
  }
  p1{
    color: white;
    margin-left: 400px;
  }
