.font-fam {
  font-family: 'Itim', cursive !important;
  font-family: 'Sriracha', cursive;
}
hcard{
  font-family: 'Itim', cursive;
  font-size: 30px ; 
  margin-left: 30px;
}
hr{
  margin-left: 30px;
  margin-top: -20px;
}
.bgfooter{
  height: 50px;
  background-color: rgb(121, 173, 171);
}
.p2{
  text-align: left;
}
/* Menubar */
.padding {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.nav-color {
  background-color: #69C5B8 !important;
}
.test-box {
  background-image: url('./img/402.png')!important;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: whitesmoke;


}
.font-menu {
  color: white !important;
  font-weight: bold;
  font-size: 20px;
}
.font-menu:hover {
  cursor: pointer;
}
.boxfont:hover {
  background-color: rgb(47, 151, 136);
}
/*Menubar*/

/*pop-up form*/
.head {
  text-decoration: underline;
}
.colorform {
  color: rgb(116, 116, 116) !important;
}
.form-regis {
  text-align: left;
}
#form1 {
  border-radius: 50px;
}
#form2 {
  border-radius: 50px;
}
#form3 {
  border-radius: 50px;
}
#form4 {
  border-radius: 50px;
}
#form5 {
  border-radius: 50px;
}
#form6 {
  border-radius: 50px;
}
#form7 {
  width: 80px;
  border-radius: 50px;
}
#form8 {
  width: 80px;
  border-radius: 50px;
}
#form9 {
  width: 80px;
  border-radius: 50px;
}
#formTextarea {
  border-radius: 20px;
}

.button {
  text-align: center;
}

.btn-custom {
  color: rgb(116, 116, 116);
  width: 110px;
  height: 40px;
  border-radius: 50px;
  transition: .5s;
  background-color: white;
  border: 4px solid #aaaaaa;
}

  /*Register button */
  .circle {  
    width: 130px;
    height: 130px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 50%;
    background-color: #EECC6B;
    transition:all 550ms ease-in-out;
    /* box-shadow: 0px 1px px rgb(176, 255, 202); */
  }
  .Cposition {
    position: fixed;
    right: 0;
    z-index: 1500px;
    margin-right: .3cm;
    margin-top: -750px;
 
    transition: .5s;
    cursor: pointer;
  }
  .circle:hover {
    background-color: #69C5B8;
    border: dashed 2px #ffffff;
    transition: scale(2.1);
    margin-right: .3cm;
  }
  /* @media (max-width:414px) {
    .font-regis1 {font-size: 20px;}
  } */
  .Ctext {
    padding-top: 35px;
  }
  .font-regis1 {
    font-size: 25px;
  }
  .font-regis {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 1px 10px #B2D8BF;
  }
  /*Register button */
  
  /*button*/
  .btn-custom:hover {
    border-color: rgb(116, 116, 116)
  }
  .picsuccess{
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  .btn-custom2 {
    color: rgb(116, 116, 116);
    font-size: 13px;
    font-style: bold;
    width: 70px;
    height: 35px;
    border-radius: 50px;
    transition: .5s;
    background-color: white;
    border: 4px solid #aaaaaa;
  }
  .bt:hover{
    background-color: #69C5B8;
    box-shadow: 5px 5px 5px rgb(221, 217, 217);
    cursor:pointer;
    transition: scale(1.1);
  }
  .header{
    height: 100%;
  }

  .bgh{
    background-color: #EECC6B;
  }
  .bgtim{
    background-color:  #EECC6B;
  }
  .bgtim1{
    background-color:  #EECC6B;
    margin-top: 30px;
    margin-bottom:100px;
  }
  .bgt{
    background-color: red;
  }
  .bgnav{
    background-color:  #69C5B8;
    
  }
  p1{
    color: white;
    margin-left: 400px;
  }
  a1{
    color: white;
    font-size: 25px;
  }
  /*button*/
  
  /*topic*/
  #w3c-gradient {
    background: linear-gradient(to right top
    , #FAB1BC 0%, #FAB1BC 50%,
    transparent 50%, rgba(0,0,0,0) 71%,
   rgba(255,55,8,0) 100%);
  }  
  .topicbox {
    width: 200px;
    height: 70px;
    background-color: #F3A3B0 !important;
    border: hidden;
    border-radius: 12px;
    /* box-shadow: 0px -1px 7px #7b7b7b; */
  }
  .texttopic {
    padding-top: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
  }
  .topicshadow {
    text-shadow: 0px 1px 10px #7b7b7b;
  }
  .mg-tp {
    margin-top: 100px;
  }
  .center {
    align-content: center;
  }
  /*topic*/



  /*cardhowto*/
  .block-cardhowto {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 700px;
    height: 350px;
    background: #0E9F98;
  }
  .block-cardhowto1 {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 170px;
    background:beige;

  }
  .bgcard{
    background-color: palevioletred;
  }
  .wrapper {
    height: 421px;
    width: 700px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .product-img {
    float: left;
    height: 420px;
    width: 327px;
  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    float: left;
    height: 420px;
    width: 372px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    height: 300px;
    width: 327px;
  }
  
  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }
/*   
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
   */
  .product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    /* font-family: 'Playfair Display', serif; */
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 18px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
  }
  
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    /* font-family: 'Trocchi', serif; */
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  
  
  .product-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: #79b0a1;
  }
  .pic1{
    margin-right: 50px;
    margin-left: 30px;
  }
  /*cardhowto*/

  /*close icon popup*/
  .closeHowto {
    width: 40px;
    height: 40px;
  }
  /*close icon popup*/

  /*button howto*/
  .btn-howto {
    color:  white; 
    font-size: 16px;
    background-color: #69C5B8; 
    border-radius: 50px;
    width: 120px;
    height: 60px;
    margin-left: 390px;
    margin-top: 50px;
    margin-bottom: 290px;
  }
  /*button howto*/
  /*content card*/
  .conbox-ab {
    min-height: 150px;
    border: hidden;
    border-radius: 20px;
    background-color: #ffffff18;
  }
  .tpcontent {
    color: rgb(121, 34, 52);
    font-size: 30px;
    font-weight: bold;
  }
  .content {
    color: rgb(121, 34, 52);
    font-size: 23px;
  }
  .mr-pad {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  /*content card*/

  /*pop-up form*/
  .bt {
    background-color: burlywood;
    border: solid 1px burlywood;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: burlywood;
    margin-left: 1110px;
    margin-top: -100px;
    box-shadow: 1px 3px 5px rgb(248, 243, 243);
    transition: all 250ms ease-in-out;
  }
  /*close icon popup*/
  .closeHowto {
    width: 40px;
    height: 40px;
  }
  /*close icon popup*/

  /*button howto*/
  .btn-howto {
    color: white;
    font-size: 16px;
    background-color: #69C5B8;
    border-radius: 50px;
    width: 120px;
    height: 60px;
  }
  /*button howto*/

  /*address*/
  .pad-add {
    padding-top: 80px;
  }
  .pad-cadd {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pad-top {
    padding-top: 5px;
  }
  .conbox-add {
    min-height: 360px;
    min-width: 400px;
    border: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffffff18;
  }
  .im-pad {
    padding-top: 0px !important;
  }
  /*address*/

  /*sponsor*/
  #pic1 {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  #pic2 {
    width: 300px;
    height: 200px;
    margin: 10px;
  }
  #pic3 {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  .panel-body {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15) !important;  
  }
  /* sponsor */

  /* Ask */
  .bg-ask {
    background-color: rgb(255, 255, 255) !important;
  }
  .bg-askl {
    background-color: rgb(255, 170, 186) !important;
  }
  .font-ask {
    font-size: 23px !important;
    color: #A24050 !important;
  }
  .font-ask a {
    color: #A24050;
    font-weight: bold;
    font-size: 24px;
  }
  .font-ask a:hover {
    color: #A24050;
    text-decoration: none;
  }
  .wask {
    width: 900px;
    height: 200px;
  }
  .waskl {
    width: 900px !important;
  }
  /* Ask */

/*sponsor*/
#pic1 {
  width: 200px;
  height: 200px;
  margin: 10px;
}
#pic2 {
  width: 300px;
  height: 200px;
  margin: 10px;
}
#pic3 {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.panel-body {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-left: 30px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
/*sponsor*/

/*contact*/
.contact{
  font-size: 25px;
}
/*contact*/

/* schedule */
.picsche {
  width: 620px;
  height: 500px;
  border: hidden;
  border-radius: 20px;
}
/* schedule */

/*close button*/
.closeHowto{
  float: right;
}
/*close button*/

/*body*/
.contain {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
@media (max-width: 700px) {
  .product-img {width: 0px;}
  .wrapper {width: 0px;}
  .product-info {border: hidden; border-radius: 20px;}
  
}
/*body*/